fastapi
uvicorn
pandas
numpy
sqlalchemy
psycopg2-binary
web3
reportlab
scipy
scikit-learn
fairlearn
matplotlib
seaborn
jinja2
shap
lime
python-dotenv
transformers
torch
bertopic
sentence-transformers
faker
tqdm
